*.log
output/
.snakemake/
logmover.sh
logs
1path.txt
2path.txt
3path.txt
allr1.txt
all.txt
*.swp
from_reads*
output_genomes/
similarity_gap_results.txt
temp_similarity_gap_results.txt
scripts/gaps_plot.png
with_ref_findviralstrains.smk
yes_ref_test.yml
FlameGraph/
perf*
target
.cargo
.vscode
